@model IEnumerable<InAndOut.Models.Expense>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Expenses List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Expense" asp-action="Create" class="btn btn-primary">Create a new expense</a>
        </div>
    </div>
</div>
<br/>

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <th>
                Expenses Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Changes
            </th>
        </thead>
        <tbody>
            @foreach (var expenses in Model)
            {
                <tr>
                    <td width="35%">@expenses.ExpensesName</td>
                    <td width="35%">@expenses.Amount</td> 
                    <td width="30%">
                        <div class="w-100 btn-group" role="group"> 
                            <a asp-controller="Expense" asp-action="Update" asp-route-Id="@expenses.Id" class="btn btn-primary mx-1">Update</a>
                            <a asp-controller="Expense" asp-action="Delete" asp-route-Id="@expenses.Id" class="btn btn-danger mx-1">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Expenses Registred Yet!</p>
}